footer{
    background-color:#FFD700 ;
    padding: 20px;
    text-align: center;

}
.p1{
    font-size:large;
    
    
}
.p2{
    font-size: medium;
   
}
.p3{
   
        font-size:large;
        

}
p4{
    font-size: medium;
}
